.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.outer {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
  width: 100%;
  position: relative;
}

.inner {
  padding: 1rem;
  background-color: green;
  transition: transform 0.5s ease;
  text-align: end;
  transform-origin: left;
}

.progress {
  position: absolute;
  left: 50%;
  z-index: 100;
  top: 25%;
  font-weight: 700;
}

h1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: large;
  }
}
