* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  gap: 3rem;
}

.folder {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.folder__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.action__container {
  display: none;
}

.folder__item:hover .action__container {
  display: initial;
}

.action__container > button {
  border: none;
  background: none;
  padding: 0.1rem;
  cursor: pointer;
}
