* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app__container {
  padding: 2rem 4rem;
  width: 75%;
  margin: 0 auto;
}

.problem__list > p {
  margin: 1rem 0px;
}

.problem__list > ul {
  padding-left: 2rem;
}
